/* --- Basic Page Styling --- */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* --- Form Container --- */
form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #333;
    min-width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

/* --- Input Fields --- */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px 25px;
    margin: 2px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* --- Labels --- */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* --- Submit Button --- */
button {
    width: 100%;
    background-color: #da8433;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ec9d53;
}

/* --- Error Message Styling --- */
.error {
    color: #ff0000;
    margin-bottom: 15px;
}

/* --- Success Message Styling --- */
.success {
    color: #4CAF50;
    margin-bottom: 15px;
    text-align: center;
}

.link {
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: #3651ca;
}

.link:hover {
    color: #5a71d6;
}

/* --- Responsive --- */
@media (max-width: 450px) {
    form {
        width: 90%;
        padding: 20px;
    }
}

/* .greet{
    position: fixed;
    top: 0;
    left: 0;
    color: #45a049;
} */
.logout {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.logout:hover {
    color: #d41515;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.container-header {
    text-align: left;
    color: #d66f0e;
}

.sub-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px;
    max-width: 100%;
    min-width: 50%;
    font-size: 16px;
    gap: 10px;
    box-shadow: 0 5px 10px #333;
    max-height: 500px;
    overflow-y: auto;
}

.sub-container table {
    width: 100%;
    border-collapse: collapse;
}

.sub-container table th {
    background-color: #333;
    padding: 8px;
    text-align: center;
    color: #ffffff;
    border-bottom: 2px solid #e5e7eb;
}

.sub-container table td {
    /* background-color: #333; */
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid #e5e7eb;
}
.sub-container table tr:hover {
    background-color: #e2e2e2;
}

.action-btn {
    display: flex;
    gap: 5px;
    margin: 10px;

}

.edit-btn {
    background-color: #3651ca;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    border-radius: 3px;

}

.edit-btn:hover {
    background-color: #5a71d6;
}

.delete-btn {
    background-color: #d41515;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: #f14f4f;
}